/*リンクの形状*/
#page-top a {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f7e8da;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  color: #aaa;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.5rem;
  transition: all 0.3s;
  letter-spacing: 2px;
  box-shadow: 5px 5px 20px -2px #dbcfc3;
}

#page-top a:hover {
  background: #cec2b7;
  color: #333;
}

/*リンクを右下に固定*/
#page-top {
  position: fixed;
  right: 30px;
  bottom: 20px;
  z-index: 2;
  /*はじめは非表示*/
  opacity: 0;
  transform: translateY(100px);
}

/*　上に上がる動き　*/

#page-top.UpMove {
  animation: UpAnime 0.5s forwards;
}
@keyframes UpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*　下に下がる動き　*/

#page-top.DownMove {
  animation: DownAnime 0.5s forwards;
}
@keyframes DownAnime {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(100px);
  }
}
